<div class="nav-head">
	<!-- site logo -->
	<a href="#/dashboard" class="site-logo text-uppercase">
		<i class="ion ion-disc"></i>
		<span class="text">Materia</span>
	</a>
</div>


<!-- Site nav (vertical) -->

<nav class="site-nav clearfix" role="navigation">
	<div class="profile clearfix mb15">
		<img src="images/admin.jpg" alt="admin">
		<div class="group">
			<h5 class="name">Robert Smith</h5>
			<small class="desig text-uppercase">UX Designer</small>
		</div>
	</div>

	<!-- navigation -->
	<ul class="list-unstyled clearfix nav-list mb15" collapse-nav-accordion highlight-active>
		<li>
			<a href="#/dashboard" md-ink-ripple>
				<i class="ion ion-monitor"></i>
				<span class="text">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#/email/inbox" md-ink-ripple>
				<i class="ion ion-email"></i>
				<span class="text">Email</span>
			</a>
		</li>

		<li>
			<a href="#/calendar" md-ink-ripple>
				<i class="ion ion-calendar"></i>
				<span class="text">Calendar</span>
				<span class="badge badge-xs badge-danger">hot</span>
			</a>
		</li>
		<li>
			<a href="#/material" md-ink-ripple>
				<i class="ion ion-icecream"></i>
				<span class="text">Material</span>
				<span class="badge badge-xs badge-success">new</span>
			</a>
		</li>
		
		<li>
			<a href="javascript:;" md-ink-ripple>
				<i class="ion ion-android-options"></i>
				<span class="text">UI Kit</span>
				<i class="arrow ion-chevron-left"></i>
				<span class="badge badge-xs badge-info">10</span>
			</a>
			<ul class="inner-drop list-unstyled">
				<li><a href="#/ui/buttons" md-ink-ripple>Buttons</a></li>
				<li><a href="#/ui/typography" md-ink-ripple>Typography</a></li>
				<li><a href="#/ui/grids" md-ink-ripple>Grids</a></li>
				<li><a href="#/ui/panels" md-ink-ripple>Panels</a></li>
				<li><a href="#/ui/notifications" md-ink-ripple>Notifications</a></li>
				<li><a href="#/ui/tabs" md-ink-ripple>Tabs &amp; Accordion</a></li>
				<li><a href="#/ui/progress-bars" md-ink-ripple>Progress Bars</a></li>
				<li><a href="#/ui/modals" md-ink-ripple>Modals</a></li>
				<li><a href="#/ui/treeview" md-ink-ripple>Tree View</a></li>
				<li><a href="#/ui/extras" md-ink-ripple>Extras</a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" md-ink-ripple>
				<i class="ion ion-asterisk"></i>
				<span class="text">Icons</span>
				<i class="arrow ion-chevron-left"></i>
				<span class="badge badge-xs badge-primary">2</span>
			</a>
			<ul class="inner-drop nested list-unstyled">
				<li><a href="#/icons/font-awesome" md-ink-ripple>Font Awesome</a></li>
				<li><a href="#/icons/ionicons" md-ink-ripple>Ionicons</a></li>
			</ul>
		</li>

		<li>
			<a href="javascript:;" md-ink-ripple>
				<i class="ion ion-stats-bars"></i>
				<span class="text">Charts</span>
				<i class="arrow ion-chevron-left"></i>
			</a>
			<ul class="inner-drop list-unstyled">
				<li><a href="#/charts/c3" md-ink-ripple>C3</a></li>
				<li><a href="#/charts/sparklines" md-ink-ripple>Sparklines</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" md-ink-ripple>
				<i class="ion ion-document-text"></i>
				<span class="text">Forms</span>
				<i class="arrow ion-chevron-left"></i>
			</a>
			<ul class="inner-drop list-unstyled">
				<li><a href="#/forms/elements" md-ink-ripple>Elements</a></li>
				<li><a href="#/forms/wizard" md-ink-ripple>Wizard</a></li>
				<li><a href="#/forms/validation" md-ink-ripple>Validation</a></li>
				<li><a href="#/forms/uploader" md-ink-ripple>File Uploader</a></li>
				<li><a href="#/forms/imagecrop" md-ink-ripple>Image Crop</a></li>
			</ul>
		</li>
		<li>
			<a href="#/maps/google-map" md-ink-ripple>
				<i class="ion ion-map"></i>
				<span class="text">Maps</span>
			</a>
		</li>
		<li>
			<a href="#/tables/tables" md-ink-ripple>
				<i class="ion ion-clipboard"></i>
				<span class="text">Tables</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" md-ink-ripple>
				<i class="ion ion-printer"></i>
				<span class="text">Pages</span>
				<i class="arrow ion-chevron-left"></i>
			</a>
			<ul class="inner-drop list-unstyled">
				<li><a href="#/pages/signin" md-ink-ripple>Sign In</a></li>
				<li><a href="#/pages/signup" md-ink-ripple>Sign Up</a></li>
				<li><a href="#/pages/forget-pass" md-ink-ripple>Forget Pass</a></li>
				<li><a href="#/pages/404" md-ink-ripple>404</a></li>
				<li><a href="#/pages/lock-screen" md-ink-ripple>Lock Screen</a></li>
				<li><a href="#/pages/timeline" md-ink-ripple>Timeline</a></li>
				<li><a href="#/pages/search" md-ink-ripple>Search</a></li>
				<li><a href="#/pages/invoice" md-ink-ripple>Invoice</a></li>
			</ul>
		</li>
	</ul> <!-- #end navigation -->
</nav>


<!-- nav-foot -->
<footer class="nav-foot">
	<p>2015 &copy; <span>MATERIA</span></p>
</footer>