.site-head {
	margin-bottom: 80px;
}

.doc-sidenav {
	position: fixed;
	border: 1px solid rgb(240,240,240);
	/*box-shadow: 0 0 2px rgba(0,0,0,.02);*/
	background: rgb(250, 250, 250);
	display: inline-block;
	padding: 0 20px;

}
.doc-sidenav a {
	color: #333;
}

.doc-content {
	/*border: 1px solid;*/
	padding: 0 20px;

}